// =============================================================================
// TYPOGRAPHY
// =============================================================================
@mixin rem($sizeValue) {
    font-size: ($sizeValue / $base-font-px) * 1rem;
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw: $fluid-min-vw, $max-vw: $fluid-max-vw) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

// =============================================================================
// BREAKPOINTS
// =============================================================================

@mixin breakpoint($width) {
    @if $width == medium {
        @media (min-width: $breakpoint-md-min) { @content ; }
    }
    @else if $width == small {
        @media (min-width: $breakpoint-sm-min) { @content ; }
    }
    @else if $width == x-small {
        @media (min-width: $breakpoint-xs-min) { @content ; }
    }
    @else if $width == navbar {
        @media (min-width: $breakpoint-menu-min) { @content ; }
    }
}

// Use min width unless there is an exceptional use case for max-width
@mixin breakpointMax($width) {
    @if $width == medium {
        @media (max-width: $breakpoint-md-max) { @content ; }
    }
    @else if $width == small {
        @media (max-width: $breakpoint-sm-max) { @content ; }
    }
    @else if $width == x-small {
        @media (max-width: $breakpoint-xs-max) { @content ; }
    }
    @else if $width == navbar {
        @media (max-width: $breakpoint-menu-max) { @content ; }
    }
}